In [1]:
import pandas as pd
Data=pd.read_csv("E-commerce Website Logs.csv")
Data

C:\Users\Compu City\AppData\Local\Temp\ipykernel_276\3476879458.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  Data=pd.read_csv("E-commerce Website Logs.csv")

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,43:57.2,2533,TCP,1.10.195.126,20100,Chrome,28,Female,CA,Normal,English,261.9600,No,0.00,Credit Card
1,43:57.2,4034,TCP,1.1.217.211,20500,Mozilla Firefox,21,Male,AR,Normal,English,731.9400,No,0.00,Debit Card
2,43:26.1,1525,TCP,1.115.198.107,90100,Mozilla Firefox,20,Male,PL,Normal,English,14.6200,No,0.00,Cash
3,43:26.1,4572,TCP,1.121.152.143,100300,Mozilla Firefox,66,Female,IN,Normal,Spanish,957.5775,No,0.00,Credit Card
4,17:09.0,3652,TCP,1.123.135.213,270200,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.3680,No,0.00,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,42:01.3,4372,TCP,94.197.121.229,100600,Android App,NaN,Male,US,Normal,English,0.0000,Yes,143.36,Debit Card
172834,10:17.3,2167,TCP,129.110.241.72,30400,Android App,NaN,Female,IT,Normal,English,15.1500,No,0.00,Cash
172835,10:17.3,2725,TCP,185.119.252.121,100300,Android App,NaN,Female,IT,Normal,English,600.1600,No,0.00,Credit Card
172836,52:58.3,3728,TCP,185.145.107.23,50200,Android App,NaN,Male,US,Normal,Russian,75.7500,No,0.00,Cash
172837,52:58.3,3420,TCP,202.69.12.251,170800,Android App,NaN,Female,CA,Normal,English,23.4600,No,0.00,Credit Card

In [2]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172838 entries, 0 to 172837
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   accessed_date     172838 non-null  object
 1   duration_(secs)   172838 non-null  int64
 2   network_protocol  172838 non-null  object
 3   ip                172838 non-null  object
 4   bytes             172838 non-null  int64
 5   accessed_Ffom     172838 non-null  object
 6   age               99457 non-null   object
 7   gender            172838 non-null  object
 8   country           172838 non-null  object
 9   membership        172835 non-null  object
 10  language          172835 non-null  object
 11  sales             172838 non-null  float64
 12  returned          172831 non-null  object
 13  returned_amount   172838 non-null  float64
 14  pay_method        172838 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 19.8+ MB

In [3]:
Data.describe()

       duration_(secs)          bytes          sales  returned_amount
count    172838.000000  172838.000000  172838.000000    172838.000000
mean       3248.031827    1535.206858     411.346449        74.012092
std        1010.872270    6349.555845     785.537868       364.446435
min        1500.000000      28.000000       0.000000         0.000000
25%        2371.000000     264.000000       5.230000         0.000000
50%        3246.000000     589.000000      46.920000         0.000000
75%        4124.000000    2430.000000     600.160000         0.000000
max        5000.000000  932858.000000   11199.968000     22638.480000

In [4]:
Data.shape

(172838, 15)

In [5]:
Data.index

RangeIndex(start=0, stop=172838, step=1)

In [6]:
Data.sample(frac=0.2)

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
99920,31:42.4,1577,TCP,2.219.40.242,614,Mozilla Firefox,NaN,Male,AU,Normal,English,1050.000,No,0.00,Others
117701,17:40.1,2180,TCP,197.228.147.141,46,Mozilla Firefox,NaN,Female,PE,Premium,English,121.980,No,0.00,Cash
27769,18:00.3,4327,TCP,87.76.241.142,2267,Mozilla Firefox,54,Male,US,Premium,Russian,0.000,Yes,60.60,Credit Card
12051,36:54.9,2034,HTTP,113.185.41.4,264,Android App,--,Unknown,CN,Not Logged In,Chinese,0.000,No,0.00,Credit Card
62231,18:14.8,4566,TCP,42.112.179.202,1816,Others,51,Female,CN,Premium,English,3.648,No,0.00,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72394,02:09.4,4542,TCP,118.50.41.13,2283,Mozilla Firefox,63,Male,AT,Premium,Spanish,162.640,No,0.00,Cash
124253,14:25.4,3210,TCP,68.231.66.209,340,Mozilla Firefox,NaN,Female,CN,Premium,English,15.690,No,0.00,Cash
56623,41:40.1,2834,TCP,185.3.134.61,561,Safari,28,Female,CA,Normal,English,0.000,Yes,225.06,Debit Card
147,03:24.8,1775,TCP,1.39.63.230,1724,Others,44,Male,DE,Premium,Spanish,384.450,No,0.00,Credit Card
121814,19:46.0,4385,TCP,41.190.29.75,3421,Microsoft Edge,NaN,Female,IN,Premium,English,40.660,No,0.00,Credit Card

In [7]:
Data.isnull().sum()

accessed_date           0
duration_(secs)         0
network_protocol        0
ip                      0
bytes                   0
accessed_Ffom           0
age                 73381
gender                  0
country                 0
membership              3
language                3
sales                   0
returned                7
returned_amount         0
pay_method              0
dtype: int64

In [23]:
Data.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
172833    False
172834    False
172835    False
172836    False
172837    False
Length: 172838, dtype: bool

In [9]:
Data.isnull()

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
172834,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
172835,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
172836,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
172837,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [16]:
Data['age'] = pd.to_numeric(Data['age'], errors='coerce',downcast='integer')

In [17]:
Data['age']=Data['age'].fillna(Data['age'].mode()[0])
Data

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,43:57.2,2533,TCP,1.10.195.126,20100,Chrome,28,Female,CA,Normal,English,261.9600,No,0.00,Credit Card
1,43:57.2,4034,TCP,1.1.217.211,20500,Mozilla Firefox,21,Male,AR,Normal,English,731.9400,No,0.00,Debit Card
2,43:26.1,1525,TCP,1.115.198.107,90100,Mozilla Firefox,20,Male,PL,Normal,English,14.6200,No,0.00,Cash
3,43:26.1,4572,TCP,1.121.152.143,100300,Mozilla Firefox,66,Female,IN,Normal,Spanish,957.5775,No,0.00,Credit Card
4,17:09.0,3652,TCP,1.123.135.213,270200,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.3680,No,0.00,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,42:01.3,4372,TCP,94.197.121.229,100600,Android App,37,Male,US,Normal,English,0.0000,Yes,143.36,Debit Card
172834,10:17.3,2167,TCP,129.110.241.72,30400,Android App,37,Female,IT,Normal,English,15.1500,No,0.00,Cash
172835,10:17.3,2725,TCP,185.119.252.121,100300,Android App,37,Female,IT,Normal,English,600.1600,No,0.00,Credit Card
172836,52:58.3,3728,TCP,185.145.107.23,50200,Android App,37,Male,US,Normal,Russian,75.7500,No,0.00,Cash
172837,52:58.3,3420,TCP,202.69.12.251,170800,Android App,37,Female,CA,Normal,English,23.4600,No,0.00,Credit Card

In [18]:
Data['language']=Data['language'].fillna(Data['language'].mode()[0])
Data

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,43:57.2,2533,TCP,1.10.195.126,20100,Chrome,28,Female,CA,Normal,English,261.9600,No,0.00,Credit Card
1,43:57.2,4034,TCP,1.1.217.211,20500,Mozilla Firefox,21,Male,AR,Normal,English,731.9400,No,0.00,Debit Card
2,43:26.1,1525,TCP,1.115.198.107,90100,Mozilla Firefox,20,Male,PL,Normal,English,14.6200,No,0.00,Cash
3,43:26.1,4572,TCP,1.121.152.143,100300,Mozilla Firefox,66,Female,IN,Normal,Spanish,957.5775,No,0.00,Credit Card
4,17:09.0,3652,TCP,1.123.135.213,270200,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.3680,No,0.00,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,42:01.3,4372,TCP,94.197.121.229,100600,Android App,37,Male,US,Normal,English,0.0000,Yes,143.36,Debit Card
172834,10:17.3,2167,TCP,129.110.241.72,30400,Android App,37,Female,IT,Normal,English,15.1500,No,0.00,Cash
172835,10:17.3,2725,TCP,185.119.252.121,100300,Android App,37,Female,IT,Normal,English,600.1600,No,0.00,Credit Card
172836,52:58.3,3728,TCP,185.145.107.23,50200,Android App,37,Male,US,Normal,Russian,75.7500,No,0.00,Cash
172837,52:58.3,3420,TCP,202.69.12.251,170800,Android App,37,Female,CA,Normal,English,23.4600,No,0.00,Credit Card

In [19]:
Data['membership'].fillna('Normal', inplace=True)
Data

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,43:57.2,2533,TCP,1.10.195.126,20100,Chrome,28,Female,CA,Normal,English,261.9600,No,0.00,Credit Card
1,43:57.2,4034,TCP,1.1.217.211,20500,Mozilla Firefox,21,Male,AR,Normal,English,731.9400,No,0.00,Debit Card
2,43:26.1,1525,TCP,1.115.198.107,90100,Mozilla Firefox,20,Male,PL,Normal,English,14.6200,No,0.00,Cash
3,43:26.1,4572,TCP,1.121.152.143,100300,Mozilla Firefox,66,Female,IN,Normal,Spanish,957.5775,No,0.00,Credit Card
4,17:09.0,3652,TCP,1.123.135.213,270200,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.3680,No,0.00,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,42:01.3,4372,TCP,94.197.121.229,100600,Android App,37,Male,US,Normal,English,0.0000,Yes,143.36,Debit Card
172834,10:17.3,2167,TCP,129.110.241.72,30400,Android App,37,Female,IT,Normal,English,15.1500,No,0.00,Cash
172835,10:17.3,2725,TCP,185.119.252.121,100300,Android App,37,Female,IT,Normal,English,600.1600,No,0.00,Credit Card
172836,52:58.3,3728,TCP,185.145.107.23,50200,Android App,37,Male,US,Normal,Russian,75.7500,No,0.00,Cash
172837,52:58.3,3420,TCP,202.69.12.251,170800,Android App,37,Female,CA,Normal,English,23.4600,No,0.00,Credit Card

In [20]:
Data['returned']=Data['returned'].fillna(Data['returned'].mode()[0])
Data

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,43:57.2,2533,TCP,1.10.195.126,20100,Chrome,28,Female,CA,Normal,English,261.9600,No,0.00,Credit Card
1,43:57.2,4034,TCP,1.1.217.211,20500,Mozilla Firefox,21,Male,AR,Normal,English,731.9400,No,0.00,Debit Card
2,43:26.1,1525,TCP,1.115.198.107,90100,Mozilla Firefox,20,Male,PL,Normal,English,14.6200,No,0.00,Cash
3,43:26.1,4572,TCP,1.121.152.143,100300,Mozilla Firefox,66,Female,IN,Normal,Spanish,957.5775,No,0.00,Credit Card
4,17:09.0,3652,TCP,1.123.135.213,270200,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.3680,No,0.00,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,42:01.3,4372,TCP,94.197.121.229,100600,Android App,37,Male,US,Normal,English,0.0000,Yes,143.36,Debit Card
172834,10:17.3,2167,TCP,129.110.241.72,30400,Android App,37,Female,IT,Normal,English,15.1500,No,0.00,Cash
172835,10:17.3,2725,TCP,185.119.252.121,100300,Android App,37,Female,IT,Normal,English,600.1600,No,0.00,Credit Card
172836,52:58.3,3728,TCP,185.145.107.23,50200,Android App,37,Male,US,Normal,Russian,75.7500,No,0.00,Cash
172837,52:58.3,3420,TCP,202.69.12.251,170800,Android App,37,Female,CA,Normal,English,23.4600,No,0.00,Credit Card

In [21]:
Data.isnull().sum()

accessed_date       0
duration_(secs)     0
network_protocol    0
ip                  0
bytes               0
accessed_Ffom       0
age                 0
gender              0
country             0
membership          0
language            0
sales               0
returned            0
returned_amount     0
pay_method          0
dtype: int64

In [24]:
Data.duplicated().sum()

0